// Colors
$color-white: #fff;
$color-primary: #db1e46;
$color-secondary: #dd2343;
$color-benefit: #70af00;
$color-card-text: #363636;
$color-hover: #7bb000;
$color-btn-gift: #fbc400;
$color-card-border: #e7e7e7;


// Typography

$base-font-size: 16px;

//Sizes

$header-height: 80px;
$top-header-height: 44px;
